In [1]:
print("hello world")

hello world

In [ ]:
!

In [1]:
import requests
import pandas as pd

Explore Bike Locations

In [3]:
url = "https://api.tfl.gov.uk/BikePoint/"

r = requests.get(url)
print(r.status_code)

200

In [13]:
json = r.json()

df = pd.DataFrame(json)

df.head()

,$type,id,url,commonName,placeType,additionalProperties,children,childrenUrls,lat,lon
0,"Tfl.Api.Presentation.Entities.Place, Tfl.Api.P...",BikePoints_1,/Place/BikePoints_1,"River Street , Clerkenwell",BikePoint,[{'$type': 'Tfl.Api.Presentation.Entities.Addi...,[],[],51.529163,-0.109970
1,"Tfl.Api.Presentation.Entities.Place, Tfl.Api.P...",BikePoints_2,/Place/BikePoints_2,"Phillimore Gardens, Kensington",BikePoint,[{'$type': 'Tfl.Api.Presentation.Entities.Addi...,[],[],51.499606,-0.197574
2,"Tfl.Api.Presentation.Entities.Place, Tfl.Api.P...",BikePoints_3,/Place/BikePoints_3,"Christopher Street, Liverpool Street",BikePoint,[{'$type': 'Tfl.Api.Presentation.Entities.Addi...,[],[],51.521283,-0.084605
3,"Tfl.Api.Presentation.Entities.Place, Tfl.Api.P...",BikePoints_4,/Place/BikePoints_4,"St. Chad's Street, King's Cross",BikePoint,[{'$type': 'Tfl.Api.Presentation.Entities.Addi...,[],[],51.530059,-0.120973
4,"Tfl.Api.Presentation.Entities.Place, Tfl.Api.P...",BikePoints_5,/Place/BikePoints_5,"Sedding Street, Sloane Square",BikePoint,[{'$type': 'Tfl.Api.Presentation.Entities.Addi...,[],[],51.493130,-0.156876

In [30]:
final_df = df[['id', 'commonName', 'lat', 'lon']]
final_df

                 id                            commonName        lat       lon
0      BikePoints_1            River Street , Clerkenwell  51.529163 -0.109970
1      BikePoints_2        Phillimore Gardens, Kensington  51.499606 -0.197574
2      BikePoints_3  Christopher Street, Liverpool Street  51.521283 -0.084605
3      BikePoints_4       St. Chad's Street, King's Cross  51.530059 -0.120973
4      BikePoints_5         Sedding Street, Sloane Square  51.493130 -0.156876
..              ...                                   ...        ...       ...
792  BikePoints_850              Brandon Street, Walworth  51.489102 -0.091548
793  BikePoints_851                  The Blue, Bermondsey  51.492221 -0.062513
794  BikePoints_852         Coomer Place, West Kensington  51.483570 -0.202038
795  BikePoints_857                        Strand, Strand  51.512582 -0.115057
796  BikePoints_689        Spanish Road, Clapham Junction  51.459225 -0.180884

[797 rows x 4 columns]

In [32]:
final_df.to_csv('../data/bike_points_geocode.csv', index=False)

In [2]:
url = "https://cycling.data.tfl.gov.uk/CyclingInfrastructure/data/lines/cycle_lane_track.json"

r = requests.get(url)
print(r.status_code)
json = r.json()
# df = pd.DataFrame(json)
# df.head()

# pd.DataFrame([x['attributes'] for x in json['features']])

200

In [9]:
json['features'][0]['properties']

{'FEATURE_ID': 'RWG154837',
 'SVDATE': '2017-10-14',
 'CLT_CARR': 'TRUE',
 'CLT_SEGREG': 'FALSE',
 'CLT_STEPP': 'FALSE',
 'CLT_PARSEG': 'FALSE',
 'CLT_SHARED': 'FALSE',
 'CLT_MANDAT': 'FALSE',
 'CLT_ADVIS': 'TRUE',
 'CLT_PRIORI': 'FALSE',
 'CLT_CONTRA': 'FALSE',
 'CLT_BIDIRE': 'FALSE',
 'CLT_CBYPAS': 'FALSE',
 'CLT_BBYPAS': 'FALSE',
 'CLT_PARKR': 'FALSE',
 'CLT_WATERR': 'FALSE',
 'CLT_PTIME': 'FALSE',
 'CLT_ACCESS': None,
 'CLT_COLOUR': 'NONE',
 'BOROUGH': 'Barking & Dagenham',
 'PHOTO1_URL': 'https://cycleassetimages.data.tfl.gov.uk/RWG154837_1.jpg',
 'PHOTO2_URL': 'https://cycleassetimages.data.tfl.gov.uk/RWG154837_2.jpg'}